#
# Java Spring Boot Enterprise Settings
#
# hello-spring-controller-ent
#
 

export RESOURCE_GROUP='azure-asa-uswest'       														# existing resource group or one that will be created in next steps
export SPRING_APPS_SERVICE='hello-spring-controller-ent' 									# name of the service that will be created in the next steps
export REGION='westus'	 												                         	# choose a region with Enterprise tier support


az configure --defaults group=${RESOURCE_GROUP} location=${REGION} spring=${SPRING_APPS_SERVICE}

az configure --list-defaults

