<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    
    <appender name="console.all" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" 
                value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5.5p   %-100.100c [] - %m%n"/>                                                   

        </layout>
    </appender>    
 
    <appender name="file.info" class="org.apache.log4j.RollingFileAppender"> 
        <param name="File" value="./logs/hello-spring-controller.log"/>
	<param name="MaxFileSize" value="10000KB"/>
    	
   	<!-- Keep nine backup files -->
   	<param name="MaxBackupIndex" value="9"/>  
    	
        <layout class="org.apache.log4j.PatternLayout">        
            <param name="ConversionPattern" 
		 value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5.5p   %-150.150c [] - %m%n"/>                                                  
        </layout>
    </appender>
   
    <appender name="file.perf" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./logs/hello-spring-controller-perf.log"/>
	<param name="MaxFileSize" value="10000KB"/>    	
    	
    	<!-- Keep nine backup files -->
    	<param name="MaxBackupIndex" value="9"/>
    	
        <layout class="org.apache.log4j.PatternLayout">        
            <param name="ConversionPattern" 
		 value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5.5p   %-150.150c [] - %m%n"/>                                                  
        </layout>
    </appender>	 

    <logger name="com">
            <level value="info"/>
            <appender-ref ref="file.info"/>                        
    </logger>    
     
    <logger name="PERF">
	    <level value="info"/>
            <appender-ref ref="file.perf"/>	    
    </logger>   
   
    
    <root>
            <level value="info"/> 
            <appender-ref ref="console.all"/>            
    </root>     
    
</log4j:configuration>