@page
@model IndexModel
@{
    ViewData["Title"] = "Blue";
}
<body style="background-color:blue;">
    <p style="color: white; text-align: center; font-size:calc(100% + 4vw);" >You're My Boy Blue! -Frank The Tank</p>
</body>
